# Copy to .env.prod and fill in. Do not commit .env.prod.
CONVEX_DEPLOY_KEY=
CONVEX_DEPLOYMENT=
VITE_CONVEX_URL=
CLERK_SECRET_KEY=
CLERK_WEBHOOK_SECRET=
CLERK_APPLICATION_ID=
CLERK_DOMAIN=
CLERK_ISSUER_DOMAIN=
VITE_CLERK_FRONTEND_API_URL=
VITE_CLERK_PUBLISHABLE_KEY=
UPLOADTHING_TOKEN=
VITE_UPLOADTHING_TOKEN=
VITE_UPLOADTHING_URL=
